.Container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 100px;
    text-align: center;
}

.NoDataAlert {
    font-size: 25px;
    margin-top: 50px;
}
